.prices
  .prices_currency
    .prices_currency_ruble
    .prices_currency_dollar
    .prices_currency_euro
  .prices_text
    p.prices_text_this
      | Цены хорошие, примерно равны фрилансерским. От 
      span.prices_bold 2000 рублей за заказ
      | .
    p.prices_text_this
      | В общем случае, со стоимостью проекта всё ровно и прозрачно. Вы всегда будете знать за что платите.
    p.prices_text_this
      | Оплата предпочтительнее всего на 
      span.prices_bold_2 Yandex-деньги.